{{extend 'layout.html'}}
{{=args}}
<h2>Moderation</h2>
<table class="table table-striped" border="1">
    <thead><tr><th>Event</th><th>Group</th></tr></thead>
    <tbody>
{{for item in events:}}
<tr>
    <td>
        {{=item.events.eventName}}
      </td>
      <td>
        {{=item.tag}}
        <a role="button" class="btn btn-xs btn-primary" style = "float: right;" href='{{=URL("approveEvent", args=[item.id, item.tag, 1])}}'>
         <span class="glyphicon glyphicon-ok"></span>&nbsp;
        </a>
        <a role="button" class="btn btn-xs btn-primary" style = "float: right;" href='{{=URL("approveEvent", args=[item.id, item.tag, 0])}}'>
         <span class="glyphicon glyphicon-remove"></span>&nbsp;
        </a>
    </td>
</tr>
{{pass}}
        </tbody>
</table>
