{{extend 'layout.html'}}
<script src="{{=URL('static','DataTables/datatables.min.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','DataTables/datatables.min.css')}}">
<h1>Events for group '{{=group.tagName}}'</h1>
<table id="datatable" border="1">
    <thead><tr><th>id</th><th>Name</th><th>Begins</th><th>Ends</th><th>Venue</th><th>Contact</th><th>Description</th><th>Link</th><th>Type</th></tr></thead>
{{for item in res:}}
<tr>
    <td>{{=item.events.id}}</td>
    <td>{{=item.events.eventName}}</td>
    <td>{{=item.events.startAt.strftime("%H:%M %B %d, %Y")}}</td>
    <td>{{=item.events.endAt.strftime("%H:%M %B %d, %Y")}}</td>
    <td>{{=item.events.venue}}</td>
    <td>{{=item.events.contact}}</td>
    <td>{{=item.events.description}}</td>
    <td>{{=item.events.link}}</td>
    <td>{{=item.events.typeOfEvent}}</td>
</tr>
{{pass}}
</table>
<script>
    $(document).ready(function() {
        $('#datatable').DataTable({
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        {
                            extend: 'print',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'pdf',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'copy',
                            exportOptions: {
                                columns: ':visible'
                            }
                        }
                    ]
                },'colvis'
            ],
            columnDefs: [ {
                targets: [0,4,5,7],
                visible: false
            } ]
        });
    } );
</script>
