{{extend 'layout.html'}}
<h2>My Events</h2>
<table class="table table-striped" border="1">
    <thead><tr><th>Name</th><th>Begins</th><th>Ends</th><th>Type</th><th>Tags</th></tr></thead>
    <tbody>
{{for idx, item in enumerate(events):}}
<tr>
    <td>{{=item.eventName}}
        <a role="button" class="btn btn-xs btn-danger" style = "float: right;" href='{{=URL("deleteEvent", args=[item.id])}}'>
         <span class="	glyphicon glyphicon-trash"></span>&nbsp;</a>
        <a role="button" class="btn btn-xs btn-primary" style = "float: right;" href='{{=URL("editEvent", args=[item.id])}}'>
         <span class="	glyphicon glyphicon-pencil"></span>&nbsp;</a>
    </td>
    <td>{{=item.startAt.strftime("%H:%M %B %d, %Y")}}</td>
    <td>{{=item.endAt.strftime("%H:%M %B %d, %Y")}}</td>
    <td>{{=item.typeOfEvent}} </td>
    <td>{{=tag_list[idx]}}
    <a role="button" class="btn btn-xs btn-primary" style = "float: right;" href='{{=URL("changeTags", args=[item.id])}}'>
         <span class="  glyphicon glyphicon-pencil"></span>&nbsp;</a>
         </td>
</tr>
{{pass}}
        </tbody>
</table>
<!-- <table class="table table-striped" border="1">
<tbody>
<tr>
    <th>Event</th>
    <th>Tags</th>
    <th>Delete</th>
</tr>
{{if not events:}}
No events
{{pass}}
{{for i in events:}}
<tr>
	<td>{{=i.eventName}}</td>
	<td><a href='{{=URL("editEvent", args=[i.id])}}'>edit event</a></td>
	<td><a href='{{=URL("changeTags", args=[i.id])}}'>edit tags</a></td>
	<td><a href='{{=URL("deleteEvent", args=[i.id])}}'>delete</a></td>
</tr>
{{pass}}
</tbody>
</table>
 -->
